- var text = ' This pen is a basic demo of the <model-viewer> web component. It makes displaying 3D and AR content on the web easy!';

- var src = 'https://cdn.glitch.com/36cb8393-65c6-408d-a538-055ada20431b/Astronaut.glb?1542147958948';

- var iosSrc = 'https://cdn.glitch.com/36cb8393-65c6-408d-a538-055ada20431b/Astronaut.usdz?v=1569545377878';

- var poster = 'https://cdn.glitch.com/36cb8393-65c6-408d-a538-055ada20431b%2Fposter-astronaut.png?v=1599079951717';

main
  section.has-dflex-center
    .lx-container-80
      .lx-row
        .lx-card.bs-lg
          model-viewer(
            src=src,
            ios-src=iosSrc,
            poster=poster,
            alt="A 3D model of an astronaut!",
            shadow-intensity="1",
            camera-controls="true",
            auto-rotate="true",
            ar="true"
          )
          p.text
            i.fas.fa-hand-point-right
            | #{text}

// Loads <model-viewer> for modern browsers
script(
  type="module",
  src="https://unpkg.com/@google/model-viewer@latest/dist/model-viewer.js"
)

// Loads <model-viewer> for old browsers like IE11
script(
  type="nomodule",
  src="https://unpkg.com/@google/model-viewer@latest/dist/model-viewer-legacy.js"
)
